
.vs/xGwTestApp/project-colors.json
.vs/xGwTestApp/v17/.suo
.vs/xGwTestApp/v17/Browse.VC.db
.vs/xGwTestApp/v17/Browse.VC.db-shm
.vs/xGwTestApp/v17/Browse.VC.db-wal
.vs/xGwTestApp/v17/Browse.VC.opendb
.vs/xGwTestApp/v17/ipch/AutoPCH/16c9e675b80bb3ab/CHLOTESTS.ipch
.vs/xGwTestApp/v17/ipch/AutoPCH/58b877c7d83aa895/CUTILITY.ipch
.vs/xGwTestApp/v17/ipch/AutoPCH/8ee14a6529e586b/XGWTESTAPP.ipch
.vs/xGwTestApp/v17/ipch/AutoPCH/90f82ba241ccdd1a/CUSBTESTS.ipch
*.obj
*.idb
*.pdb
*.log
*.recipe
*.ilk
*.tlog
x64/Debug/xGwTestApp.vcxproj.FileListAbsolute.txt
*.filters
xGwTestApp.vcxproj.filters
